!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi
      = @user.username
    %p
      Thanks for signing up with us.  Happy shopping!  This weeks specials includes the ab enhancer!!!
