-users_cart.orders.each do |order|
  %tr{id: "edit_order_#{order.id}"}
    %td
      =order.product.name
    %td.quantity
      =order.order_qty
    %td.price
      $
      =order.subtotal
    %td
      =link_to 'Edit', edit_user_cart_order_path(current_user, users_cart, order), id: "#{order.id}", class: "edit-link", remote: true
    %td
      =link_to 'Remove Item', user_cart_order_path(current_user, users_cart, order), id: "#{order.id}", class: "remove-link", method: :delete, remote: true, data: { confirm: 'Are you sure?' }
