%div.wrapper#cart-table
  %h1 Your Cart
  %div.row
    %div.center.col-md-8.col-md-offset-2
      %table.cart-table.table-striped.table
        %hr
          %th Product Name
          %th Cart Quantity
          %th Price
          %th Edit
          %th Remove
        =render "row"
      %b
        Total Cost = $
        %span.total_cost
          =users_cart.total_cost
      %br
      - if users_cart.orders.nil?
        = button_to 'Purchase', user_cart_path(current_user, users_cart), method: :patch, disabled: true
      - else
        = button_to 'Purchase', user_cart_path(current_user, users_cart), method: :patch
      .edit-form-holder
