%div.wrapper
  %h1 All Available Products
  - if current_user.is_admin
    = link_to 'Admin View', admin_products_path
  =link_to 'Logout', logout_path(session[:id]),method: :delete
  =link_to 'View By Categories', categories_path
  %p click to view

  - @products.each do |product|
    %div.product-display
      %img.product-img{:src => product.img}/
      = link_to product.name, product_path(product)
      %p.description
        = product.description





