%div.wrapper
  %h1 All Available Products
  = link_to 'Admin Login', admin_products_path
  %p click to view

  - @products.each do |product|
    %div.product-display
      %img.product-img{:src => product.img}/
      = link_to product.name, product_path(product)
      %p.description
        = product.description





