%div.wrapper
  - flash.each do |message_type, message|
    %div{:class => "alert alert-#{message_type}"}= message

  %h1
    = @product.name
  %img{:src=> "#{@product.img}"}/
  %p
    =@product.description
  %p
    Quantity:
    =@product.quantity
  %p
    $
    =@product.price
  %p
    -@categories.each do |category|
      =link_to category.name, category_path(category)

  -# = link_to 'Buy Me', create new cart

  %br/
  =link_to 'Add to Cart', cart_path(@product)

