%html
  %head
    %title Shoppe
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = stylesheet_link_tag "application", media: 'all'
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag "application"
